<!---card de producto pagar--->
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="img/pago_seguro.png" alt="Pago seguro" class="card-img-top">
            <div class="card-body">
                <h2>S/250.00</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur eos, obcaecati optio
                    praesentium veniam.</p>
            </div>
            <div class="card-footer">
                <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
                <button class="btn btn-success btn-block"
                        id="checkout-button-sku_FTTW5WRv34S6tg"
                        role="link">
                    Pagar <i class="far fa-credit-card"></i>
                </button>
            </div>
        </div>
    </div>
</div>


